data/*
\!data/.gitkeep
saved_models/
echo saved_models/ >> .gitignore


logs/
__pycache__/

UCMerced_LandUse.zip
Medical_Waste_4_0.zip
Fetus_US.zip

Python Project Presentation.pptx
Python Project Video.mp4